[2011-08-31 07:26] airmrcr opened #1 "Improve API"
I've realised that my naming choices for the API probably wasn't the best it could have been as `generateCanvas` and `generateImage` are quite long and since these functions may be generating a QR Code on an existing `<canvas>` or `<img>` element it can be quite misleading.

For these reasons I'm considering renaming the functions to simply `QRCode.canvas` and `QRCode.image`. I'll only deprecate t

[2011-08-31 07:51] #1 closed, assigned to neocotic

[2011-08-31 09:46] neocotic opened #2 "Padding issues"
The whitespace padding needs to be much more consistent as it currently varies depending on the size and doesn't fill the dimensions well enough.

[2011-11-29 09:05] airmrcr opened #3 "Rename to qr.js"
It's catchier and shorter.

[2011-11-29 09:07] airmrcr opened #4 "Reformat code"
Reformat the code to adhere to latest JavaScript coding standards and change code documentation to work with [docco](http://jashkenas.github.com/docco/). While I'm at it I should probably add some more comments (or at least re-add tz's original comments).

[2011-11-29 09:10] airmrcr opened #5 "Unit tests"
Create and maintain a suite of unit tests using [QUnit](https://github.com/jquery/qunit).

[2011-11-29 09:32] airmrcr opened #6 "NodeJS and CommonJS support"
Add support for these frameworks using the same method as my other libraries for callback method implementation. Dependencies should be added for the [canvas](http://search.npmjs.org/#/canvas) module.

[2011-11-29 09:33] airmrcr opened #7 "Canvas/image single argument"
Add support to `canvas` and `image` methods for a single object **or string** argument. Where a string is specified the method treats it as the value and all configurations use their default values.

[2011-11-29 09:39] airmrcr opened #8 "API additions"
Add a `VERSION` property which indicates the current version of the library as well as a new `toDataURL` method which takes the same arguments as `canvas` and `image` except for their own configuration properties (e.g. `data.canvas`). Also, a `noConflict` method will be good.
#7 should also apply to any new methods, where applicable.

[2011-12-19 12:59] #3 closed, assigned to neocotic

[2011-12-19 12:59] #4 closed, assigned to neocotic

[2011-12-19 12:59] #5 closed, assigned to neocotic

[2011-12-19 13:00] #6 closed, assigned to neocotic

[2011-12-19 13:01] #7 closed, assigned to neocotic

[2011-12-19 13:01] #8 closed, assigned to neocotic

[2013-10-13 20:43] hyusetiawan opened #9 "require js incompatible"
line 1008:

[code]

should be

[code]

[2013-11-02 07:57] peterbarretto opened #15 "Download the qr code as image.png or jpeg"
How can i download the qr code as image.png or jpeg?

[2013-11-08 05:00] #15 closed, assigned to nobody

[2013-11-19 20:31] airmrcr opened #16 "Support different image types for toDataURL"
More information: http://stackoverflow.com/questions/14383557/setting-canvas-todataurl-jpg-quality

It would make sense to support both the type (and quality?) parameters instead of only PNG.

Here's a currently workaround until this change is implemented, using JPEG as an example:

[code]

[2013-12-02 13:17] #16 closed, assigned to neocotic

[2013-12-02 15:44] #9 closed, assigned to neocotic

[2014-07-29 05:41] e2jk opened #23 "Clarification on license (GPL code becomes MIT-licensed?)"
I see qr.js is licensed under the MIT license.
The license section at the top of the `qr.js` file mentions that qr.js is based on jsqrencode, which is GPL-licensed:

[code]

Part of the GPL license is that derivatives must be licensed under the same license. Extract from [section 5](https://gnu.org/licenses/gpl.html#section5):

Question: have you received permission from upstream jsqrencode to cha

[2014-09-01 08:26] #23 closed, assigned to neocotic

[2014-12-27 23:58] MarcGodard opened #25 "Center the Code?"
Is there a way to center the code in the canvas? There seems to be some space on one side making it not centered on the page.

[2014-12-28 00:25] #25 closed, assigned to nobody

[2015-01-15 16:55] rossha opened #27 ""Error: undefined is not a function""
Love QR.js, thank you for building it. I had it working in the browser but it has broken for some reason I'm having troubles isolating why. Here is the error I am being thrown:

"TypeError: undefined is not a function
    at Object.X.canvas (http://localhost:8080/app/lib/qr.min.js:4:10052)
    at Object.X.toDataURL (http://localhost:8080/app/lib/qr.min.js:4:10868)
    at http://localhost:8080/app/

[2015-01-15 17:59] neocotic commented on #27
Could you please provide the stack trace using the unminified version.

What version are you using and what browsers (and their versions) are you trying on?

[2015-01-16 16:18] rossha commented on #27
TypeError: undefined is not a function
    at Object.qr.canvas (http://localhost:8080/app/lib/qr.js:1036:55)
    at http://localhost:8080/app/admin/admin.js:191:25
    at Scope.$scope.QRcodes (http://localhost:8080/app/admin/admin.js:206:8)
    at http://localhost:8080/app/bower_components/angular/angular.js:10880:21
    at callback (http://localhost:8080/app/bower_components/angular/angular.js:19

[2015-01-16 17:22] neocotic commented on #27
Do you mean version 1.1.3? I'm going to assume yes and continue anyway :) I think this may be a "Doh!" moment but you're value for the `level` option (i.e. "H") is missing quotes so it's not a string. I would have thought that the code would have ignored an undefined value (which I can only guess is what `H` is being evaluated as) but apparently it's not and it's failing when trying to transform i

[2015-01-16 17:29] rossha commented on #27
Oh man. You are correct, it is a "Doh!" moment. My sincere apologies for taking up your time, but thank you for your help!

[2015-01-16 17:30] neocotic commented on #27
No problem. Glad I could help.

[2015-01-16 17:34] neocotic commented on #27
To be honest, `H` couldn't be undefined. So the problem must have also been that you also have another `H` variable defined in that scope that isn't a string. Otherwise you would have got a much more helpful error when attempting to use the undeclared `H` variable. That would also explain why my code tried to transform it to upper case instead of just using the default level.

Anyway, problem solv

[2015-01-16 17:38] #27 closed

[2015-01-28 23:37] chrishoage opened #28 "node-canvas dependency breaks browserify"
I am trying to use this library in a browserify project, which won't need node-canvas.

Is there any way the node-canvas dependency be changed so that it is not required when npm installing?

Maybe using optionalDependencies in package.json?

[2015-01-29 17:38] neocotic commented on #28
This should hopefully be fixed once I finally get around to testing and merging PR #26 but I believe [there are ways of telling browserify to ignore modules](https://github.com/substack/browserify-handbook/blob/master/readme.markdown#ignoring-and-excluding), although I'm not sure how well that works since I'm not too familiar with the tool.

[2015-01-29 17:41] chrishoage commented on #28
Thank you for the response, that is great to hear. I actually forked your repo last night after posting this and made it work using browserify "specific" npm modules for the fs and canvas requires.

https://github.com/chrishoage/qr.js

I can submit a pull request if you'd like but it sounds like this is close to be supported via an alternate method.

[2015-02-11 23:35] bstro commented on #28
With browserify, I am getting
[code]
even with @chrishoage 's fork. Is this related?

[2015-02-16 14:50] neocotic commented on #28
Again, I'm not familiar with Browserify so I couldn't say but I am keen to support it as I like it's goal. I'm curious if anyone else could help with this.

When exactly are you getting this error? During build, runtime, from Browserify?

Have you tried the "ignore" option that I suggested?

[2015-03-29 15:44] thasmo opened #30 "QR code is not centered"
I'm using qr.js within a polymer element and this happens:
![canvas](https://cloud.githubusercontent.com/assets/184284/6886364/3c752658-d63b-11e4-9ab0-117705201a8a.png)

I've inverted the colors to see the problem better on white background.

[2015-03-29 15:47] thasmo opened #31 "Save does not support colors"
It would be nice if using the save function also supports background and foreground colors.

[2015-04-05 16:33] neocotic commented on #31
Closing this as a duplicate of #2.

Open to pull requests for this issue as is love to see it fixed but struggling to find the time.

[2015-04-05 16:34] neocotic commented on #31
Sorry, closed the wrong issue.

[2015-04-05 16:35] neocotic commented on #30
Closing this issue as it is a duplicate of #2.

Open to pull requests for this issue as I'd love to see it fixed but struggling to find the time right now.

[2015-04-05 16:35] #30 closed

[2015-06-07 13:00] jedie opened #34 "DEMO"
What's about to add a simple DEMO via 'gh-pages' ?

Something like this: https://jedie.github.io/qr.js.demo/

[2015-06-07 15:41] neocotic commented on #34
@jedie, there is already an interactive demo on the project homepage (link at the bottom of the page): http://neocotic.com/qr.js

[2015-06-07 15:41] #34 closed

[2015-06-08 07:40] jedie commented on #34
Oh, sorry. Didn't "see" the homepage...

Maybe move the homepage Link in README at the top?
And change the Link from **http://neocotic.com/qr.js** to **http://neocotic.com/qr.js/** (add slash, so it doesn't look like a file-download-link)

And move the DEMO Link on http://neocotic.com/qr.js/ also to the top? It's a little bit "hidden" and can be easily overlooked ;)

[2015-07-06 15:02] theefer commented on #28
FYI I tried passing `--ignore canvas` and that fixed the compilation error.

[2015-08-11 20:35] niftylettuce opened #36 "undefined symbol: node_module_register"
I'm not sure how this relates to PM2, but if I run my app without it, it works fine.  Otherwise I get this error:

[code]

Node `v0.12.7` and NPM `2.11.3`

Possibly related to `pm2` project via <https://github.com/Unitech/PM2/issues/1518>.

[2015-08-11 20:39] niftylettuce commented on #36
I think this is due to <https://github.com/Unitech/PM2/issues/1477> so I'm closing this out.

[2015-08-11 20:39] #36 closed

[2015-08-12 07:42] neocotic commented on #36
Thanks for taking the time to investigate this and keeping us updated.

[2015-09-08 15:36] diosney opened #37 "Can't install properly, dependency is triggering error"
The full stack error npm gives is below:

[code]

Thanks

[2015-09-08 15:44] diosney commented on #37
Nevermind, found the canvas install instructions at https://github.com/Automattic/node-canvas/wiki/Installation---Ubuntu-and-other-Debian-based-systems

If this is a requirement for this module to work, It would be nice that this information is stated in the README at the install section, since one normally assumes that `npm install` (per readme) is the only thing only one needs to do.

BTW Have y

[2015-09-08 15:44] #37 closed

[2015-09-08 15:44] neocotic commented on #37
Beat me to it :smile:

[2015-09-08 15:47] neocotic commented on #37
I am considering investing some more time into this project again as I have a few ideas for it which will include attempting to remove node binding, improve image scaling, and making the code more modular and easier to manage and maintain. I will probably attempt to leverage browserify for some of these.

[2015-09-08 16:10] diosney commented on #37
Good to know! This is the qr generation module at npm that I wanted to install due its feature set (fg and bg colors, scaling, etc) but I reconsidered after the dependency issue, since I need that the install flows smoothly and have to do it on several machines with different OSes.

[2015-10-22 07:06] uikro commented on #37
I am facing similar problem but on windows with node.js trying to install qr-js.

C:\WeyApp>npm install qr-js
npm WARN package.json weyapp@1.0.0 No repository field.
npm WARN package.json weyapp@1.0.0 No README data
-

C:\WeyApp\node_modules\qr-js\node_modules\canvas>node "C:\Program Files\nodejs\n
ode_modules\npm\bin\node-gyp-bin\\..\..\node_modules\node-gyp\bin\node-gyp.js" r
ebuild
gyp ERR! con

[2015-10-22 10:12] neocotic commented on #37
@uikro Please see the following instructions on installing node-canvas on Windows:

https://github.com/Automattic/node-canvas/wiki/Installation---Windows

[2015-11-11 20:31] #2 closed

[2015-12-07 14:10] kamaldeepoodles opened #39 "Get Base64 JPEG image code"
Hi, I have an issue i.e. to generate the PDF using  https://parall.ax/products/jspdf  plugin, I need Base64 JPEG image code against the generated QR code. Can you please let me know how to get this ?

[2015-12-09 18:33] neocotic commented on #39
This is already covered in the [API documentation](https://github.com/neocotic/qr.js#todataurldatavalue).

[2015-12-09 18:33] #39 closed

[2015-12-21 06:46] dannyto opened #40 "Reduce white border"
Hi there!

How can i reduce white border when create barcode?

Thankz.

[2015-12-21 18:23] neocotic commented on #40
This is not currently an option. If you'd like it to be, I'd happily accept a pull request.

[2015-12-25 07:41] dannyto commented on #40
Yep. Thankz for that!

[2015-12-30 00:24] oh4real opened #41 "Error trying to install - not going to bother troubleshooting"
Just thought you might like to know:

vagrant@homestead:~/Code/app-gateway$ npm install qr-js --save
npm WARN install Couldn't install optional dependency: Unsupported

./util/has_cairo_freetype.sh: 4: ./util/has_cairo_freetype.sh: pkg-config: not found
gyp: Call to './util/has_cairo_freetype.sh' returned exit status 0. while trying to load binding.gyp
gyp ERR! configure error
gyp ERR! stack Error

[2015-12-30 00:58] oh4real commented on #41
Installed canvas (https://www.npmjs.com/package/canvas) system dependencies. Then it worked.

I'm going to try to use it client-side - and I reckon node-canvas isn't required for client side?

If not, consider a related version for client-side usage which doesn't have the system dependencies.

[2015-12-30 00:58] #41 closed

[2016-01-19 15:15] jedierikb commented on #28
was unable to work your pretty great looking library into my project because of this issue + deadlines :-(

[2016-04-10 11:28] jedmarcnocum opened #42 "Implementing with angular.js"
Is there a way to implement this plugin with angular.js? Like manipulating the color, size, level etc in real time? like this plugin https://github.com/monospaced/angular-qrcode

I tried to use the above plugin but the problem is I can't download it in my device, im developing using Ionic+Cordova Framework. This plugin worked for me because it can be saved as canvas then convert into image, the pr

[2016-04-11 11:32] neocotic commented on #42
Unfortunately, I'm not too familiar with Angular myself but I cannot think why a framework like Angular would prevent the use of this library as you would without Angular, so I think your question is more targeted at how to use Angular, which I'm afraid is out-of-scope for here.

It really depends what you mean by real-time and that could even be specific to your application. If you're relying on

[2016-04-11 11:32] #42 closed

[2016-04-20 08:23] jlowcs opened #43 "Consider using double license GPL/MIT"
I'd like to use your library for a professional project. GPL license is not an option, therefore I cannot use it. Any reason why you didn't choose the MIT licence?

[2016-04-20 08:35] neocotic commented on #43
This library was a massive rewrite of [jsqrencode](https://code.google.com/archive/p/jsqrencode/) which was released under GPLv3. One of the conditions of the GPLv3 license is that any modifications within redistributions must use the same license. I use MIT for any project that I create but it is too permissive in this case and would not comply with the GPLv3 license attached to the original proj

[2016-04-20 13:08] jlowcs commented on #43
Ok, that makes sense. Too bad then.

It's company policy not to use librairies under GPL licence. Although we do have some open-sources librairies, our products are not open-source, and the company doesn't want to make the source code available.

[2016-04-20 22:08] #43 closed

[2016-04-20 22:08] #40 closed

[2016-05-04 14:10] partikule opened #44 "Enhancement : Add borders to produced QR codes pictures"
Some printing solution (kiosk / thermal printers like Micronics) doesn't allow to add border styles to pictures.
The result is that the printed QR code is always left aligned.
The only solution was to add "leftBorder" and "topBorder" settings.

Usage :
`var qr_data = qr.toDataURL({
						value: 'my value',
						size: 7,
						leftBorder: 160   // in pixels
			})
`

I modified the function canvas(

[2016-05-04 18:36] neocotic commented on #44
Sorry, but I'm not sure that I fully understand the issue that you're facing that requires this change? It seems to me that the limitation you're facing is not unique to this library but instead to any image at all, in your environment, which I feel is out-of-scope for this library.

I'm open to discussion on this but I simply don't understand why this is specific to qr.js.

[2016-05-04 19:07] partikule commented on #44
Hello,

Yes, it is probably out of range, it just add the ability to add white borders to the produced code.
Of course, I could have use another lib to post-process the produce picture (and then add more processing for only add borders), but I preferred adding it directly as options to the qr.js lib.

As it is only a suggestion, I didn't made a pull request.

You're certainly right, it is out of s

[2016-05-25 17:03] olso commented on #28
Is this being worked on?

[2016-05-25 17:58] neocotic commented on #28
@olso I'm currently playing around with a significant rewrite of this library that I'm hoping will make it more portable across different environments (e.g. browser, node.js). I'm hoping to have that wrapped up within a week or two, but please feel free to bug me for an update if I don't give one in case I forget.

[2016-06-16 00:05] olso commented on #28
@neocotic how is it going? 🎱

[2016-06-17 11:07] neocotic commented on #28
Unfortunately, I've been a bit too busy juggling other projects and work this last month, but I promise you that this is still on my radar. Not much is left to do but I'm trying to make sure that this solves the problem in the right way.

The new approach also uses Babel so that I can structure the code better (initially, it will simply be separated better and will refactor to be better in the fut

[2016-06-21 11:51] Timmmm opened #46 "Doesn't generate valid QR codes?"
Hi,

I'm using version 1.1.4 with the example code to generate "Hello". It makes this QR code:

![hello](https://cloud.githubusercontent.com/assets/376842/16228401/ae38d124-37ae-11e6-8eb1-ea1be12a154b.png)

I tried scanning it with Android's Barcode Scanner app but it doesn't seem to be a valid QR code. I can't see that I'm doing anything wrong...

[2016-06-21 11:51] Timmmm opened #47 "Support non-text QR codes"
I can't see a way to encode non-text QR codes, e.g. URLs or binary data.

[2016-06-21 12:25] neocotic commented on #46
@Timmmm, this is a valid QR code for "Hello". You might want to try another app. I've just tested the above image successfully on the following Android apps:

* [Goggles](https://play.google.com/store/apps/details?id=com.google.android.apps.unveil)
* [QR Code Reader](https://play.google.com/store/apps/details?id=me.scan.android.client)

[2016-06-21 12:25] #46 closed

[2016-06-21 12:37] neocotic commented on #47
@Timmmm, URLs are text values and can indeed be encoded as QR codes using this library.

As for binary data, the scanner would need to be able to understand how to rebuild the binary data (e.g. via a MIME type) so, if QRs can support this, I imagine there has to be some sort of standard for doing so. I'm not familiar with this but would welcome a PR from someone that is and can back it up with pro

[2016-06-21 12:37] #47 closed

[2016-06-21 12:46] Timmmm commented on #46
Ah yes it turns out ZXing (used in Google's Barcode Scanner app) doesn't work when you're too close to the code, even though it detects the alignment points correctly. Very strange.

[2016-06-26 18:47] neocotic commented on #31
The `save` and `saveSync` methods have been removed in v2 (aka QRious) since they are out-of-scope for this library, so I'm closing this issue and marking it as invalid.

Sorry for taking so long to reply to this and thanks for using this library. I hope you find the the newer version easier to use and better.

[2016-06-26 18:47] #31 closed

[2016-06-26 19:10] neocotic commented on #28
I'm really hoping that is taken care of now in v2 (aka QRious #48) as I've tried to make the support for multiple different package managers.

Sorry for taking so long to reply to this and thanks for using this library. I hope you find the the newer version easier to use and better.

I'm going to mark this as closed now as `package.json` now has a `browser` field that it should pick up. `canvas` i

[2016-06-26 19:10] #28 closed

[2016-07-10 15:02] leeyeh opened #50 "invalid image generated"
![default](https://cloud.githubusercontent.com/assets/175227/16714337/26a4053c-46f2-11e6-8b69-d9170aadf301.png)

http://jsbin.com/rusisijila/edit?html,js,output
<details>
[code]
 v2.0.1
</details>

[2016-07-10 15:57] neocotic commented on #50
It does appear to be a different QR code than is generated by v1, which it shouldn't be. I'll try to look into this soon.

[2016-07-20 22:39] emmanuelgeoffray opened #51 "webpack issue with canvas"
Hey there,
Thank you for your efforts on the new version 2.0.1 !
Do you have a working example of using webpack?
I tried to use `npm install --no-optional`
but I still get an error when running webpack
[code]

Did you encounter the same issue before?

Thanks!
& have a great day,
Emmanuel

[2016-07-20 23:15] neocotic commented on #51
I'll be honest, I worked purely based on assumption with that regard as I haven't really dealt with these kinds of details with Webpack.

Due to the complex nature of our dependency on `node-canvas`, I'm currently considering splitting this project into 3 modules: one containing the core code, one for browser, and one for node. This would be a breaking change so would require a major version bump,

[2016-08-05 15:59] neocotic commented on #50
I managed to find the source of this bug and fix it. I'm just about to get 2.0.2 released now just for this bug fix. Sorry for taking a while to get around to fixing this but I've been busy.

Thanks for your patience and I hope this allows you to use QRious reliably.

[2016-08-05 16:12] neocotic commented on #50
A fix for this bug has just been released. Please upgrade to 2.0.2.

[2016-08-05 16:12] #50 closed

[2016-08-05 16:40] neocotic opened #53 "Split into multiple modules"
In order to make QRious easier for developers to install and to simplify the `node-canvas` dependency which is only required when running on Node.js.

I'm currently planning on splitting the code base into the following modules:
- `qrious-core`
  - The logic shared by both `qrious-node` and `qrious`
  - Should not contain any environment-specific code (e.g. browser, Node.js)
- `qrious-node`
  - Th

[2016-08-05 16:42] neocotic commented on #53
This should hopefully help address #51 since projects using Browserify/Webpack can continue to depend on `qrious` which will be browser-only. Projects wanting to run QRious on Node.js would depend on `qrious-node` and only then will the `node-canvas` dependency be required.

[2016-08-06 16:57] neocotic commented on #53
@leeyeh, you seem to know about this better than me, so could you please take a quick look at the current system and tell me how I could improve it QRious is using the `browser` field but #51 states that our dependencies are still causing problems.

I do like the idea of keeping it a single module for simplicity but if the `node-canvas` dependency is still causing problems, I'd rather put a nail i

[2016-08-06 17:35] leeyeh commented on #53
Sorry I should have checked the code first.

The package.json is well configured now. The package can be consumed by webpack properly. I will create an sample for #51 .

[2016-08-06 17:40] leeyeh commented on #51
https://github.com/leeyeh/qrious-webpack-demo
https://rawgit.com/leeyeh/qrious-webpack-demo/master/index.html

[2016-08-06 17:42] neocotic commented on #51
@emmanuelgeoffray, can you please check the demo provided by @leeyeh and confirm whether you're still seeing this problem? I'd recommend upgrading to 2.0.2 as well as this fixes an issue with QR code generation.

[2016-08-08 08:23] ychw opened #54 "Not working with react-native?"
I tried line bellow in my react native project:

      const qr = new QRious({ value: mac });

and got following error:

`2016-08-08 01:03:26.975 [error][tid:com.facebook.react.JavaScript] Can't find variable: document
2016-08-08 01:03:26.991 [fatal][tid:com.facebook.react.RCTExceptionsManagerQueue] Unhandled JS Exception: Can't find variable: document`

[2016-08-08 11:11] neocotic commented on #54
@ychw, I'm sorry but having never used (or even played with) React Native, I'm not sure that I can help you. Based on that error though it would appear that it does not run in a browser environment though, which would explain why `document` is missing.

Perhaps this is another reason why #53 would be useful, as we could have a separate module for other environments such as React Native (if possibl

[2016-08-10 09:15] #54 closed

[2016-09-02 15:20] neocotic commented on #51
Closing this out as not heard back from reporter but will reopen if a simple project can be created to reproduce this issue.

[2016-09-02 15:20] #51 closed

[2016-09-07 08:38] zucker-rdrg opened #55 "Object doesn't support property or method 'assign'"
Cannot use qrious in IE or Safari <= 8
https://developer.mozilla.org/en/docs/Web/JavaScript/Reference/Global_Objects/Object/assign#Browser_compatibility

[2016-09-07 09:54] neocotic commented on #55
Good spot! I was under the impression that Babel replaced such code. I'll take a look at this.

[2016-09-29 10:55] enyyongyang opened #57 "android can't?"

[2016-09-29 10:58] enyyongyang commented on #57
Object.assign()  is undefined    at  android

[2016-09-29 11:44] neocotic commented on #57
I'm closing this as it's a duplicate of #55. Thanks for reminding me about this issue though.

[2016-09-29 11:44] #57 closed

[2016-09-29 11:48] neocotic commented on #55
I just wanted to provide an update on this as I've not done so for a while.

It would seem that, in order to get this working with the current system, I'll have to include the babel-runtime transformers inside of QRious. This isn't too tricky to do, however, it comes at a cost. Doing so will no doubt add a big bloat (~20KB) to the minified code base. I'm going to look into ways of minimizing this

[2016-10-04 15:41] #55 closed

[2016-10-04 15:41] #44 closed

[2016-10-04 15:48] neocotic commented on #44
I hope you'll be happy to know that this feature has been added in the latest version. If you're still using qr.js you'll have to upgrade to QRious >= 2.1.0 to get this feature.

I intend on documenting this migration soon [here](https://github.com/neocotic/qrious/wiki/Migrating-from-v1) but I'm hoping it won't be too complicated if you look at the README.

By default, QRious will continue to atte

[2016-10-04 16:10] neocotic opened #59 "Reduce size of distribution files"
Since we're using Babel to compile our ES6-based source code into JavaScript that's supported everywhere our distribution files contained quite a few Babel helpers to achieve this. However, in order to fix #55, we were required to include `babel-runtime` in our distribution files as well since, as a library, we can't really rely on external polyfills so this includes all those that are needed to r

[2016-10-04 16:16] neocotic commented on #55
This issue should be fixed in the just-released version 2.1.0 of QRious.

Please try upgrading and let me know how you get on.

As a result of the fix, `babel-runtime` has been bundled in our distribution files. Unfortunately, this has added some bloat to the size of our files so I've raised #59 which will attempt to investigate and address this.

[2016-10-05 06:21] zucker-rdrg commented on #55
Hi,
I've checked this on IE 10 and it works :)

Thank you

[2016-10-17 20:42] mscreenie opened #60 "Remove padding"
If I set padding to 0 the qr code acts generates an image with white space to the right, this happens by generating a dataurl directly without a element. The

I am Just trying to remove padding completely.

Great work btw it's quite fast compared to other ones I have used.

[2016-10-18 15:30] neocotic commented on #60
@mscreenie, the new padding feature isn't perfect, which is why I was originally reluctant to implement it. When nulled the padding will be determined automatically based on a number of variables. However, due to the nature of QR codes things like the complexity of the data being encoded can cause the QR size to change and other things like the element size can impact the module widths and therefo

[2016-10-19 20:33] mscreenie commented on #60
Thanks. Just read my original post. I must have been daydreaming.  I'll try setting padding to zero but if I vaguely remember it produced the same error.

[2016-10-21 17:08] #60 closed

[2016-10-24 16:03] marcus7777 opened #61 "Thanks You"
Good job! Just make a [Polymer element with it](https://github.com/marcus7777/qr-code)

[2016-10-24 16:04] #61 closed

[2016-10-26 12:19] ian4hu opened #62 "Is there any non ascii support?"
I have use Qrious like `qrious.value='Greeting from 中国'` but when I scanned it, there only the 'Greeting from ' left, the non-ascii charactor is lost.

Is there a way to keep the non-ascii?

[2016-10-30 15:13] timmyomahony opened #63 "Transparent background?"
Is it possible to have a transparent background? I tried

[code]

but it doesn't work.

[2016-10-30 16:40] neocotic commented on #63
Not currently supported but let's change that :)

I'm going to add 2 new options; `backgroundAlpha` and `foregroundAlpha`, both of which will default to `1.0`. The values can range between `0` and `1`. So, for your example;

[code]

[2016-10-30 17:00] #63 closed

[2016-10-30 17:03] neocotic commented on #63
@timmyomahony Please upgrade to v2.2.0 and let me know how you get on with these new options.

[2016-10-30 17:32] neocotic commented on #62
I'm not sure how to implement this but I'd love to! I'm open to any help that can be offered to see if we can support such characters or if it is even possible within the QR code specs.

[2016-10-30 21:04] timmyomahony commented on #63
Amazing. Thanks for the quick reply. Just updated and it works perfectly.

[2016-11-23 13:37] neocotic opened #65 "Write v1 to v2 migration guide"
The page was created when I published v2 (QRious), but I never actually got around to writing the guide yet:

https://github.com/neocotic/qrious/wiki/Migrating-from-v1

I just want to track this so I don't forget entirely.

[2016-12-20 16:35] atypicalprogrammer opened #67 "zxing cannot detect QR code?"
The QR codes by this library appear not to be able to be read by zxing-based QR code readers:

Please try the below code which simply contains the data "hello".

![qr-code-hello](https://cloud.githubusercontent.com/assets/20187287/21358892/8b4757b0-c6da-11e6-8c0e-6bfc4e3adc38.png)

[2017-01-12 03:40] justin-lau commented on #28
The `package.json` of v2.2 on the npm registry still has `canvas` in the `dependencies` on top of `optionalDependencies`, resulting in the same error.

[2017-01-12 11:19] neocotic commented on #28
@justin-lau You're right! How strange. I've no idea why it's doing that since the `package.json` in master does not contain it. I might try simply doing a version bump and see if that fixes it. Good spot. I'll raise a separate bug for this.

[2017-01-12 11:25] neocotic opened #68 "npm registry still lists node-canvas as dependency"
It has been noted by @justin-lau on #28 that, although the `package.json` file in master only declares node-canvas under `optionalDependencies`, the npm registry appears to have it listed under `optionalDependencies` *and* `dependencies`:

[code]

This is very odd and I'm not sure why it's doing that. I think the first, and possibly easiest, attempt to fit it would be to simply attempt a bump of t

[2017-03-13 10:55] neocotic commented on #67
Sorry for taking so long to get back to you on this but it's been a bit busy for me since the last release. Are you still experiencing this issue? If so, can you please let me know what version of QRious that you're using and provide example code and reproducible steps?

I just tried scanning that QR code and it read the data: "test".

[2017-03-13 11:37] neocotic opened #69 "Enable setting of multiple properties at once resulting in a single re-render"
Add a `set` method to allow multiple properties to be set at once, but with a single re-render. Given the following example:

[code]

If you wanted to change the colours and value, QRious would re-render the QR code 3 times:

[code]

However, with this proposed change, these properties could be changed in a single call and result in a single re-render:

[code]

This should also be documented as we

[2017-03-14 14:26] esteban-filardi opened #70 "WebGL support"
Hi,

I'm trying to use this with PIXI.js for a game. PIXI.js uses webGl whenever available.The canvas is first created by PIXI.   It seems this library fails if the canvas is using webgl.

Can anyone suggest me a solution using this library?

[2017-03-14 15:19] neocotic commented on #70
@esteban-filardi I'm not familiar with PixiJS at all really but QRious is designed to generate the QR code and write it to the canvas provided (or create one where omitted). It is not designed to write to part of a canvas or to be embedded within a game as such as this would make the API more much complicated, more so than needed for intended usage.

Are you no able to overlay the QR canvas/image

[2017-03-14 15:36] esteban-filardi commented on #70
I was able to make it work with the snippet of code you sent. Thanks.

[2017-03-14 15:36] #70 closed

[2017-03-19 02:04] dsh0416 commented on #62
ISO-8859-1 specification supports UTF-8 encoding by using the byte-mode. The [qrcode.js](https://github.com/davidshimjs/qrcodejs/blob/master/qrcode.js) project supports UTF-8 mode. I would take some time on making it work in this library.

[2017-04-13 19:06] na3d commented on #67
Running into the same problem.

Version 2.2.0
Value QIK6ENB4HIREZZIMG
Level H
Size 170
![qr](https://cloud.githubusercontent.com/assets/6047142/25019903/5ad31694-205a-11e7-9529-41a7ee1eb7da.png)

The default Android camera can handle it, but zxing and Authy have issues, oddly.

[2017-04-13 19:33] na3d commented on #67
Never mind, only having a problem with Authy now.  Now I am curious how that changed.

[2017-05-13 05:19] anthonyryan1 opened #71 "Deferring or avoiding ImageRenderer"
I recently upgraded from an older version of this (qr.js) and noticed that the new version generated a Content Security Policy warning the website where I deployed it. The website doesn't allow data URIs under any circumstances and the ImageRenderer creates an image tag and populates it with a data URL as part of the constructor now.

One solution might be to not render the image until a method ca

[2017-05-28 04:23] bububo opened #72 "The qrios doesn't work correct with cyrillic symbols."
Hello
I was trying to create QR code using any cyrillic words e.g 'Привет' but generated QR codes was incorrect. I couldn't scan it by my phone.

The online QR code generator http://www.qr-code-generator.com works fine with cyrillic words.

[2017-05-29 10:02] neocotic commented on #71
@anthonyryan1 I'm a bit confused, to be honest. Why don't you simply modify your CSP header? I believe that `img-src 'self' data:` should allow what you're looking for.

As for the last part, this is already what happens. QRious does not render anything until you instantiate `QRious`. Also, why would deferring the image rendering workaround CSP?

[2017-05-29 10:04] neocotic commented on #72
@bububo Thanks for trying QRious. Unfortunately, the current version only supports ASCII characters (see #62). I'd love to support the full UTF-8 character set but this could take me a lot of time to determine how it's possible so I'm currently looking for help to do so.

[2017-05-29 10:05] neocotic commented on #72
I'm closing this as a duplicate of #62 for now. That's not to say that your issue isn't valid, it just falls under an existing issue.

Please add any additional information on that issue.

[2017-05-29 10:05] #72 closed

[2017-05-29 15:11] anthonyryan1 commented on #71
That is possible, but data URIs are generally frowned upon within CSP since it's impossible to determine the "origin" of a data URI (as compared to a normal URI where you can use CORS rules and compare to a domain whitelist).

I'm using QRius to print a QR code on a canvas. I'm not using an img tag and I'm not calling any methods (eg: toDataURL) that I thought would generate an image. The violatio

[2017-05-29 15:49] neocotic commented on #71
This makes more sense to me now and I like your approach, however, we'd also need to continue to ensure that `image` is rendered, if needed. It'd also need to support the rendering of `image` any time after it has been referenced as it could well have been inserted into the page. We could place the `image` property behind a getter method to track any access to it.

This sounds like a worthwhile ch

[2017-05-29 15:57] neocotic opened #73 "Switch to container-based Travis builds for faster boot times"
In order to get faster CI builds, we should [migrate to container-based Travis builds](https://docs.travis-ci.com/user/migrating-from-legacy/). This can easily be done by adding `sudo: false` to our `.travis.yml` file.

[2017-05-29 15:59] neocotic opened #74 "Drop support for Node.js < 4"
The current build contains unnecessary complexity as it tries to support Node.js 0.10 and 0.12 to some degree. I'd like to drop that support and simplify our build and contributor guidelines in the progress.

[2017-05-29 16:02] neocotic opened #75 "Change code style to be more contributor-friendly"
While I still like having no semi-colons as it's helped me learn more about ASI, I have found it off-putting to contributors as those more unfamiliar with ASI can find it daunting.

I'm going to switch from `eslint-config-skelp` to `eslint-config-notninja` for my alternative, beginner-friendly, linting configuration.

[2017-05-29 16:18] neocotic commented on #59
I just though that I'd also include the increase in file sizes since v1.1.4 (i.e. before the Babel rewrite):

| Minified | 1.1.4 Size (KB)  | 2.0.2 Size (KB) / Increase (%) | 2.1.0 Size (KB) / Increase (%) |
| --- | --- | --- |
| No | 35.8 | 64 (78.8%) | 111 (210.1%) |
| Yes | 11.1 | 20.6 (85.6%) | 35.8 (222.5%) |

[2017-05-29 16:22] neocotic commented on #59
If we decide on dropping Babel transpilation and reverting back to good old native ES5 source code using CommonJS module resolving, I will also look to get rid of the CJS distribution file. It's a bit redundant anyway since UMD supports CommonJS but I kept it in because it was slightly smaller. Instead, the source files themselves would be used in the Nodejs environment and UMD will only be used f

[2017-05-30 10:24] neocotic opened #76 "Improve download links in README"
The download links in the `README.md` file should also have file size information as well as download links for their corresponding source map files.

All links should be using [RawGit](https://rawgit.com) production (CDN) URLs to avoid developers having issues with load times, MIME types etc.

[2017-05-30 11:12] gimyboya commented on #68
The moment i try to import `qrious` i get this error which i guess is related to this issue.
How can i fix this?
![Imgur](http://i.imgur.com/zAvnkbQ.png)

[2017-05-30 13:47] neocotic commented on #68
@gimyboya Well, that depends. I'll need more context about how you're using QRious.

I see that you're importing the CommonJS version, so I suspect that you're developing in Node.js?

Currently, QRious has 2 distributions (3 if you include the minified version):

* CommonJS for the Node.js runtime
* UMD for the browser runtime

If you're developing for the Node.js runtime, you'll almost certainly

[2017-05-30 14:16] gimyboya commented on #68
@neocotic I am currently developing on electron with node and I used both syntax commonjs and ES6 imports both returns the same error.

So is the only solution is to install `canvas`?

[2017-05-30 14:43] neocotic commented on #68
@gimyboya CommonJS and ES6 imports (sort of, see note at bottom of comment) both only work for Node.js environments with the current setup. I am considering splitting this project up to simplify this whole thing (see #53) as I for one don't like the whole optional dependency situation with `canvas` as a solution to browser's not requiring it.

I'm hoping to get around to it soon but I need to addr

[2017-05-30 14:47] neocotic commented on #68
I only mentioned babel because, if I choose to drop that, I'll also be dropping support for ES6 modules. Source code would be written in ES5 using CommonJS and then bundled when needed (e.g. UMD for browser).

[2017-05-30 15:19] neocotic commented on #69
As a result of implementing this, `QRious.DEFAULTS` will be deprecated and scheduled for removal in the next major release (e.g 3.0.0).

[2017-05-30 15:22] neocotic opened #77 "Remove QRious.DEFAULTS"
While implementing #69 it was decided to deprecate `QRious.DEFAULTS` as it was no longer as useful as it once was and was more costly to generate since it was static before. I would like to remove it in the next major release to avoid having to maintain it.

It's almost certain that it's only ever being used internally, but it's technically a breaking change to the API so I'd like to treat it as s

[2017-05-30 22:59] gimyboya commented on #68
@neocotic Thanks for your answer i will try :
[code]
and i will let you know the result also i just realised that i installed it with `npm install --save --no-optional qrious` which is why it's breaking... if that don't work i will install it normally

[2017-05-30 23:55] gimyboya commented on #68
nothing is working for node.... I tried this
[code]
and i tried to do ` npm install --save qruios` still got the same problem and when i tried to install `canvas` with `npm install canvas` and `npm install canvas@1.6.5` couldn't install it and it seems messed up many users are facing problems installing it so i doped it.

finally i solved it by using it just like i would in a browser... but this m

[2017-05-31 11:00] neocotic commented on #68
@gimyboya I'm confused again :confused:

I still don't know how you plan on using it or what environment it is running in (i.e. is DOM available, or is it in Node.js module?). You could try importing the browser distribution:

[code]

But, again, I'm guessing here as I don't have enough information to help you.

If anything, you've helped me decide that I should indeed go ahead with splitting this

[2017-05-31 11:17] gimyboya commented on #68
@neocotic Electron is a bit special it's like a browser with node so i can use both and ]electron-forge](https://github.com/electron-userland/electron-forge) uses [electron-compile](https://github.com/electron/electron-compile) under the hood so i can even extend the browser capacity to use ES6 syntax and sass or less or whatever directly on the fly.

please go ahead

i would highly recommande tha

[2017-05-31 11:59] neocotic commented on #76
These changes will be included in the 2.3.0 release.

[2017-05-31 11:59] #76 closed

[2017-05-31 11:59] neocotic commented on #75
These changes will be included in the 2.3.0 release.

[2017-05-31 11:59] #75 closed

[2017-05-31 12:00] neocotic commented on #69
These changes will be included in the 2.3.0 release.

[2017-05-31 12:00] #69 closed

[2017-05-31 12:00] neocotic commented on #73
These changes will be included in the 2.3.0 release.

[2017-05-31 12:00] #73 closed

[2017-05-31 12:01] neocotic commented on #71
These changes will be included in the 2.3.0 release which I'm hoping to push out today (within the next hour probably - see #78). Please let me know how you get on with this.

[2017-05-31 12:01] #71 closed

[2017-05-31 12:33] neocotic commented on #59
Here's the file increases including the newly released v2.3.0 instead of the older v2.1.0:

| Minified | 1.1.4 Size (KB)  | 2.0.2 Size (KB) / Increase (%) | | 2.3.0 Size (KB) / Increase (%) |
| --- | --- | --- | --- |
| No | 35.8 | 64 / 78.8 | 123 / 243.6 |
| Yes | 11.1 | 20.6 / 85.6 | 37 / 233.3 |

[2017-05-31 13:14] neocotic commented on #68
Back to the original point of this issue, it looks like npm seems to simply include optional dependencies under dependencies as well, so I'm going to close this issue.

Since I'm almost certainly going to split this project out (see #53), this issue should resolve itself as the current `qrious` project will be only for browser, so the `canvas` dependency will be moved to the new `qrious-node` modu

[2017-05-31 13:14] #68 closed

[2017-05-31 13:24] neocotic commented on #74
I will also be adding support for the newly released Node.js 8. This will only include running the CI build on node@8 for now.

This will obviously have more meaning if/when we get around to creating unit tests.

[2017-05-31 14:27] neocotic commented on #59
My current plan is to rewrite the code base (again :disappointed:) so that it's written in ES5 and uses CommonJS for modules. I'll probably use (and bundle) [Nevis](https://github.com/NotNinja/nevis) (lite) to maintain the OOP design.

I'll be replacing all ES6 code and removing babel transpilation entirely as well as the CJS distribution file since Node.js will simply point at the source code fro

[2017-06-01 01:11] neocotic commented on #59
I've merged the changes for rewroting the entire code base to ES5. This alone has resulted in the production and development browser download file sizes being reduced by 43.2% and 37.4% respectively.

That said; I'm going to take some additional time to see if I can try a few tricks to reduce the production file size further.

[2017-06-01 12:08] neocotic commented on #59
After some further refactoring to get the file sizes down even further, I managed to get us down to the following:

Here's the difference in file sizes from 2.3.0:

| Minified | 2.3.0 Size (KB)  | New Size (KB) | Decrease (%) |
| --- | --- | --- | --- |
| No | 123 | 71 | 42.3 |
| Yes | 37 | 18 | 51.4 |

Generating a QR code is no small task, so I'm much happier with this size and it's much closer

[2017-06-01 12:25] #59 closed

[2017-06-01 12:26] #74 closed

[2017-06-01 12:26] #77 closed

[2017-06-01 12:45] neocotic opened #82 "Correct file sizes of distribution files in README"
In my excitement for the v3 release, I forgot to update the file sizes listed next to the distribution file downloads in `README.md`.

I want to fix this ASAP since file size reduction was such a big driver behind this release.

[2017-06-01 12:58] #82 closed

[2017-06-01 13:10] neocotic commented on #53
I'm going for this as the current setup is too much of a headache both to maintain and to use. We'll have the following modules in the end:

* `qrious` will provide the browser implementation only
* `qrious-core` will contain the guts and support all environments via adapters
* `node-qrious` will provide the Node.js implementation only

[2017-06-01 14:30] neocotic opened #84 "Remove QRious.VERSION"
As breaking changes go, this is a minor one, however, I'd like to remove the `QRious.VERSION` static property. As part of the move to split up the code between multiple modules, this is almost a requirement since the version would actually be for `qrious-core` and not `qrious`. It's more of a pain to maintain between releases as well, so I'm happy to remove it.

[2017-06-01 22:48] #84 closed

[2017-06-01 22:49] #53 closed

[2017-06-02 11:24] neocotic opened #87 "Publish releases to open source CDN"
Starting from v4, I would like to publish all distribution files to an open source CDN (e.g. [cdnjs](https://cdnjs.com)) going forward. I would also like to replace any links within the documentation and homepage to reference the new CDN as well instead of [RawGit](https://rawgit.com). While I like RawGit, providers like RawGit discourage the use of `master` versioning and instead require a versio

[2017-06-02 11:31] neocotic opened #88 "Replace homepage"
Currently, there's still some references to my homepage (https://neocotic.com/qrious). I would like to get rid of these references and create a new homepage just for QRious. It will be hosted on GitHub Pages (e.g. https://neocotic.github.io/qrious), but I'll need to make some changes to my own homepage first before I can do this (otherwise it will keep automatically redirecting to https://neocotic

[2017-06-02 11:34] neocotic opened #89 "Add live demo link to README"
Currently, a live demo is only available by checking out the code and opening the `demo.html` file locally or on my homepage (i.e. https://neocotic.com/qrious), which I'm hoping to decommission and replace (see #88).

I feel it would be much more useful to developers if we had a link to live demo in `README.md` itself. It could be hosted on [CodePen](https://codepen.io). I don't think GitHub allow

[2017-06-02 11:36] neocotic commented on #89
Although I'm hoping to move away from [RawGit](https://rawgit.com) to something like [cdnjs](https://cdnjs.com) for CDN links, I think it would be fine to reference the `master` file via RawGit within the external demo. This will ease the release process as the demo will only have to be updated to fix breaking changes to the API or to highlight new features.

The demo itself could even be embedded

[2017-06-02 11:45] neocotic commented on #88
All references on [qrious-core](https://github.com/neocotic/qrious-core) and [node-qrious](https://github.com/neocotic/node-qrious) should also be updated.

[2017-06-03 21:34] gabrielstuff opened #90 "webpack - need to manually install qrious-core"
While using the lib with webpack@2, I encounter:

[code]

After doing: `yarn add qrious-core`, all the problem were gone.

[2017-06-04 08:39] neocotic commented on #90
@gabrielstuff I'm sorry to hear you've had issues. I'm a bit confused about what webpack is doing. I've explicitly marked qrious-core as a devDependency as it's bundled with qrious.

I'm lost as to why webpack is trying to require anything. Perhaps the "main" entry in `package.json` should be the source file that uses CommonJS and then move qrious-core to "dependencies" with a new "browser" entry

[2017-06-04 10:18] gabrielstuff commented on #90
Hello,

I'll try to figure it out later. What I think, is that the bundling of the qrious.min.js is not correct and webpack thinks that he can require "core". If you look at the min.js file, it is explicitly written.
From what I understand, qrious-core is not a dev-dependencies but a depencies, isn't ?

[2017-06-04 13:23] neocotic commented on #90
I can't look at the code until later, but I'll look into what's causing this. Core is definetly bundled within the distribution files, I can see the code the, so I'm not sure why there's a require in the UMD format output. That's why I've had it under devDependencies instead of dependencies. I'm worried that webpack will be bundling core again with your workaround, which is not ideal. Sounds like

[2017-06-04 19:15] neocotic commented on #89
I've created the following pen for now which we could link to:

https://codepen.io/neocotic/pen/YQzmBm

It's currently a simple copy of `demo.html`. Fortunately, this approach would allow us to make changes to it without requiring a release.

[2017-06-04 19:26] neocotic commented on #89
I plan on adding a link to the demo within the README using a custom badge. For example:

[![Demo](https://img.shields.io/badge/demo-live-brightgreen.svg?style=flat-square)](https://codepen.io/neocotic/pen/YQzmBm)

[2017-06-04 19:47] neocotic commented on #90
This was down to a "Doh!" situation. I included the following in the rollup options:

[code]

This was a simple mistake as I left it in while experimenting during the refactor and I can fix this issue by removing these options and get a patch release out tonight or tomorrow (hopefully the former).

However, I thought I understood what `external` did in rollup, but I guess I was wrong since the dep

[2017-06-04 19:51] neocotic opened #91 "Remove dependencies (non-dev) badge from README"
Since the qrious-core dependency is bundled with the distribution files, qrious itself has zero dependencies. For this reason, the dependencies badge/shield should be removed from `README.md`.

[2017-06-04 21:38] neocotic commented on #87
I'm going to include the changing of the README links in 4.0.1 and then get it published to CDNJS in parallel. I'll update this issue with a link to the PR when known.

[2017-06-04 21:38] #89 closed

[2017-06-04 21:38] #90 closed

[2017-06-04 21:38] #91 closed

[2017-06-04 21:41] neocotic commented on #87
This will be configured to be auto-updated to prevent the need to be manually updated for each release.

[2017-06-04 21:45] #87 closed

[2017-06-04 21:46] neocotic opened #93 "Correct CDNJS links in README"
In my rush to release 4.0.1 I got caught out by a copy & paste mistake by including "jquery" in the URL instead of "qrious". Doh!

[2017-06-04 21:54] #93 closed

[2017-06-04 22:00] neocotic commented on #90
@gabrielstuff This should be fixed now. Can you please pull down the latest version (4.0.2) and test it out? Also, please uninstall qrious-core first to make sure that your previous workaround still has any influence.

[2017-06-04 22:20] neocotic commented on #87
I've opened a PR for publishing QRious onto CDNJS: cdnjs/cdnjs#11366

[2017-06-04 22:35] gabrielstuff commented on #90
Hello ! Thanks, I'll test that later this week.

On Mon, Jun 5, 2017 at 12:00 AM, Alasdair Mercer <notifications@github.com>
wrote:

--

--

Gabriel Delattre
Fondateur associé

Soixante circuits
Provocative experiences

31 rue Louis Blanc
75010 Paris

Mob. : + 33  6 16 38 10 80 <//+33616381080>
Facebook :    http://facebook.com/soixantecircuits
Skype : applemind

[2017-06-05 16:57] neocotic commented on #87
PR was merged and QRious is now available on CDNJS:

https://cdnjs.com/libraries/qrious

[2017-06-06 15:22] neocotic opened #96 "Remove accidental duplicate "installed" from CONTRIBUTING docs"
`CONTRIBUTING.md` contains the following:

I've highlighted in bold the word that should be removed.

[2017-06-09 01:13] neocotic opened #97 "Correct link to issues in bugs section of README"
The following markdown within `README.md` contains a bad link:

[code]

The first link needs to be changed to point at https://github.com/neocotic/qrious/issues instead.

[2017-06-09 09:39] neocotic opened #98 "Add build status badge to README"
I don't know how I lost this badge. It was there before. But it needs to be added again.

[2017-06-09 09:52] neocotic opened #99 "Change live demo link to point full view in README"
I only just noticed that I linked directly to the pen instead of the full view:

https://codepen.io/neocotic/full/YQzmBm

[2017-06-13 20:33] yanickrochon opened #100 "Add logo support"
It would be nice to be able to add some logo to the QR code. If the code becomes unreadable falls to the scope of another project :smile:

[2017-06-13 21:09] yanickrochon commented on #100
I just implemented this function, and the QR Code is decoded just fine :

[code]

Of course, this works for my case, but other options could be provided (i.e. `maskPadding`)

[2017-06-18 16:26] FrankiePo opened #101 "Add typescript support"
Currently, there is no *.d.ts files to support Typescript.
Can be done by ["Should I Use The typings Field In package.json?"](https://github.com/typings/typings/blob/master/docs/faq.md#should-i-use-the-typings-field-in-packagejson)

[2017-07-25 09:06] neocotic opened #104 "Monorepo"
I know that I just split out the code into multiple modules and repositories in #53, however, it's already becoming challenging for maintaining versioning and collaboration. While we still only have a few modules, I'd like to take the opportunity to converge into a monorepo. That way, I can perhaps ignore the loss of git history (which I already did accidentally in the initial split 😞).

I'll be l

[2017-09-11 10:29] chrillewoodz commented on #101
Please implement this.

[2017-10-02 08:53] kahu08 commented on #100
is there a way one can add an image to the qr being printed?

[2017-10-23 01:10] psy21d opened #105 "Make automatically size"
Hi! Thank you a lot for very good project!
Now I need to generate big QR codes with many information.
Has a some problem with qrious settings.
![does_not_fit](https://user-images.githubusercontent.com/11248900/31868381-c167e694-b7a6-11e7-98ad-2690f90047f4.PNG)

QR code does not fit in default canvas!
Library now can not automatically calculate canvas size for image out.
But I need with compact ima

[2017-10-23 01:26] psy21d commented on #105
We can set something like
`{
    scale: parameter
}`
where parameter is "one", "double", "triple" or integer

Then this library can set canvas size automatically (with paddings) based on this settings!

[2017-11-14 07:38] sabreenakp opened #106 ""Error: libjpeg.so.8: cannot open shared object file: No such file or directory""
Installed  https://www.npmjs.com/package/qr-js for my Node.js app, It's working perfectly in my local system ubuntu 14.04 but after I build and deploy the app in AWS EC2  I couldn't log in to my application and showing  Failed to load resource: net:: ERR_CONNECTION_REFUSED error and i found the error logs containing

Error: libjpeg.so.8: cannot open shared object file: No such file or directory"

[2017-11-14 09:24] neocotic commented on #104
This is going to happen. I made my first monorepo using Lerna for another project that converts SVGs to other formats and it works brilliantly. It will make publishing and maintenance much easier with a single repository.

[2017-11-14 09:31] neocotic commented on #106
@sabreenakp Unfortunately, qr-js is no longer supported and has been deprecated in favour of QRious. Also, I'm afraid I cannot help you without knowing exactly what your code is doing or a reproducible example.

You may want to consider upgrading to QRious first in case there's an issue with one of qr-js' old dependencies (i.e. node-canvas). Install `node-qrious` and give that a shot and maybe you

[2017-11-14 09:53] sabreenakp commented on #106
@neocotic I tried node-qrious and  according to https://github.com/Automattic/node-canvas/wiki/Installation---Amazon-Linux-AMI-(EC2)  i tried to install node-canvas

after running this command -  sudo yum install cairo-devel libjpeg-turbo-devel giflib-devel -y

i got response as below-
There are no enabled repos.
 Run "yum repolist all" to see the repos you have.
 You can enable repos with yum-con

[2017-11-14 12:18] neocotic commented on #106
@sabreenakp I'm not sure how to help you here. Might be worth asking on [node-canvas](https://github.com/Automattic/node-canvas) instead as this is outside of the scope of QRious.

[2017-11-15 07:09] sabreenakp commented on #106
Can I use QRious in node.js? I tried and

sudo npm install --save --no-optional qrious

const QRious = require('qrious');
const qr = new QRious({
                        value: 'abcd' });
                    qrcode=qr.toDataURL();

and got document not defined error

[2017-11-15 07:20] neocotic commented on #106
QRious was designed to be modular and split into multiple packages:

 * `qrious` - browser version
* `node-qrious` - node version
* `qrious-core` - contains shared QR code generation logic

[2017-11-15 07:29] sabreenakp commented on #106
Yeah, I used node-qrous also
File: /node_modules/canvas/lib/bindings.js

"Error: libjpeg.so.8: can not open shared object file: No such file or directory"

same error as using qr-js

[2017-11-15 07:35] neocotic commented on #106
It must be an issue with your node-canvas installation then, which is a separate project that QRious depends on.

[2017-11-15 07:42] sabreenakp commented on #106
Can i use angular-qrious on my client side and get base64 url inside my component?

[2017-11-15 07:44] neocotic commented on #106
I don't own or maintain that package so I'm not familiar with it, but it sounds like it. The pure QRious lib could also be used for client side rendering.

[2017-11-17 03:37] giiska commented on #60
Why wont fix? I need padding 0

[2017-11-22 16:47] jeremy-saidani opened #107 "Empty QR Code on multiple new Qrious()"
Hi,

I have an old problem with Qrious.
first, I'm using it in an ionic project.

I need to generate base64 QR Code, that works fine for the first QR Code, but all the next QR Code are empty. And the result of toDataURL() are the same.

Here is my code :

`    var q1 = new Qrious({
      value: 'commande-111595',
      size: 300,
    }); `
`    var q2 = new Qrious({
      value: 'article-5555',

[2017-12-04 04:24] dougludlow commented on #101
Was just using this library. Here's what I threw together real quick, it can probably be expanded on:

[code]

[2017-12-21 09:03] huntertran commented on #105
I have the same problems.
If you set padding to null, then the generated qr will have a nicely padding of 10 or so

[2018-01-08 03:51] Red626 commented on #105
I meet the same problems. The problem is resolved by set width/height in attribute not in css.

[2018-01-08 04:28] huntertran commented on #105
@Red626 you mean when initialize the qrious?

[2018-01-16 20:52] andrewagain commented on #2
Looks like this is still an issue in the latest version: 4.0.2

![screen shot 2018-01-16 at 12 52 00 pm](https://user-images.githubusercontent.com/597825/35011744-1de81512-fabc-11e7-8991-1a5d276d0bf9.png)

![screen shot 2018-01-16 at 12 51 54 pm](https://user-images.githubusercontent.com/597825/35011749-2253905e-fabc-11e7-88f0-cee1f5fef081.png)

My options:

[code]

[2018-01-18 02:59] eeeeethan2333 opened #108 "Different result in Google Authenticator on Android and IOS"

[2018-01-18 03:40] #108 closed, assigned to nobody

[2018-01-24 07:07] psy21d commented on #105
Ok, how about decision to solve this problem? How about scale parameter, it is really need.

[2018-01-24 22:06] bshore opened #109 "Order of secret & issuer generates different QR"
I've noticed that upon generating a new TOTP (for Google), the string occasionally switches the secret & issuer causing the QR generation to break (with qrious).

These generate two visibly different QR codes, and only one of them successfully scans.

Working with qrious:
`otpauth://totp/Company:name%domain.com?secret=2345ABCD6789EFGH&issuer=Company`

Not Working with qrious:
`otpauth://totp/Compa

[2018-02-09 16:28] dsumac opened #110 "Error with unit test"
Hello,

I would like make unit tests and I have this error:

[code]

The test code is very simple:

[code]

It seems there is a problem of testability.

I use mocha + chai to test.

Do you have any idea ?

[2018-02-28 10:28] gyst commented on #104
You can avoid loss of git history by taking commits from the separate repos into the monorepo using `git filter-branch`.

[2018-02-28 12:29] neocotic commented on #104
@gyst Thanks, I'll keep that in mind. I believe Lerna has a command for cleanly importing external repos as new packages.

[2018-03-18 15:59] electrotiti commented on #106
Sorry If, I'm going to be "Mr.Obvious" here but in my case the problem was just package version problem. Some distribution like Debian Jessie install libjpeg.so.62 instead of libjpeg.so.8 when you ask to install libjpeg-dev package. So check the version of libpeg you have in your system.
For example for the Debian Jessie: https://packages.debian.org/wheezy/amd64/libjpeg8/download

[2018-03-27 16:49] pcooperuk commented on #2
Hi,
Even thought this issue is closed, it's still happens with the latest version and its not a nice UI experience.
As wanted to use the library, I have made a tweak to improve this just one line change if you want to include into the official version.

just replace line 404 in qrious.js

from:
var offset = this.getOffset(frame);

to:
var offset=parseInt((this.element.width-(frame.width*moduleSize

[2018-04-03 15:46] runplay opened #111 "Center the QR code, solution"
Hi, did post this before but to a closed one #2

As wanted to use the library, I have made a tweak to fix the issue this just one line change if you want to include into the official version.

just replace line 404 in qrious.js

from:
var offset = this.getOffset(frame);

to:
var offset=parseInt((this.element.width-(frame.width*moduleSize))/2);

tested across a variety of sizes and content

[2018-04-27 13:06] rugk opened #112 "SVG generation"
Maybe you can add generation as an SVG image?

The advantage would be that it is easily re-size/scalable.

[2018-04-27 15:48] neocotic commented on #112
@rugk this is actually something that I've wanted to do for some time now but just need to find the time to get around to it. The other benefit is that I could drop the node-canvas dependency from the Node.js version. I could even potentially merge the projects under a single package again depending on how it's implemented. It would hopefully solve/abstract a lot of the sizing issues we have, whic

[2018-04-27 16:19] rugk commented on #112
Well… IMHO I would still offer canvas as an option – maybe one rather likes to use it. Mhh…

[2018-04-27 16:35] rugk commented on #112
BTW for my add-on I also looked for SVG qr code generators and found e.g. this one: https://github.com/papnkukn/qrcode-svg

[2018-05-10 07:23] sunfloweryll opened #113 "生成二维码的字符串很长"
当需要生成二维码的字符串很长，而我设置的size只有100，这个时候生成的二维码并没有铺满canvas，而是会有一个很大的边框。
具体可以查下下面的图片 示例所使用的字符串为 http://dev.acagrid.com/index/autoimport/docclaim?colgid=111&uid=123456&id=145&fromuid=1234

![image](https://user-images.githubusercontent.com/15272750/39857426-e71511da-5465-11e8-8ea1-0279cddb4c69.png)

[2018-05-31 06:50] Roy-Orbison opened #114 "Demo broken"
https://neocotic.com/qrious/

[code]

[2018-05-31 06:55] neocotic commented on #114
I'm no longer maintaining docs and demos on my own website as it stands. I'm currently going through the long and slow process of moving all such things to their respective git repos. I'd recommend using the demo linked to in the QRious readme.

[2018-05-31 07:00] Roy-Orbison commented on #114
What demo link?

[2018-05-31 07:02] neocotic commented on #114
There's a demo badge/shield at the top of the readme. Perhaps I should repeat the link elsewhere for clarity as I want it to be easily discoverable.

https://codepen.io/neocotic/pen/YQzmBm

[2018-05-31 07:02] Roy-Orbison commented on #114
#115

[2018-06-22 09:40] zendre4 commented on #100
+1

[2018-07-30 05:52] alieslamifard commented on #111
why not done yet?!! it's an old issue with simple solution!

[2018-08-07 12:30] oliversalzburg commented on #42
[code]

For future reference, this should get people started :)

[2018-08-17 09:04] buggy-95 commented on #60
My project need no padding, too

[2018-08-27 03:38] nayuki commented on #62
My [QR Code generator library](https://github.com/nayuki/QR-Code-generator) has full Unicode support, including emoji / astral planes. Have a look at [qrcodegen.js#L881](https://github.com/nayuki/QR-Code-generator/blob/98d1f0cc91d060cbb2cd19a4663e4cfac237cd51/javascript/qrcodegen.js#L881).

[2018-08-27 03:42] nayuki commented on #109
Is this a problem with this QR code library, or is a problem with the input text you are giving to the library?

[2018-08-27 03:44] nayuki commented on #67
@atypicalprogrammer You need to use white borders around your QR Code, not the dark green borders in your image. After fixing the border color, I scanned your QR Code - but the actual data is "test", not "hello".

[2018-08-27 03:47] nayuki commented on #101
My QR Code generator library has a native port in TypeScript. Have a look at https://github.com/nayuki/QR-Code-generator/tree/master/typescript

[2018-08-27 03:54] nayuki commented on #112
My [QR Code generator library](https://github.com/nayuki/QR-Code-generator) supports SVG as one of its output formats. Have a look at [qrcodegen.js#L167](https://github.com/nayuki/QR-Code-generator/blob/98d1f0cc91d060cbb2cd19a4663e4cfac237cd51/javascript/qrcodegen.js#L167).

[2018-10-07 12:09] murshidc opened #116 "Unicode characters not working"
`var qr = new QRious({
                element: document.getElementById('qr'),
                value: "hello \u03A9"
            });`

When scanned, It's supposed to show "hello Ω". But instead, it shows "hello #©"

[2018-11-07 13:34] zcqno1 commented on #2
I guess it maybe because the QR code's minimal unit's size could not be bigger, otherwise, the total size would be larger than the expected size. Using the scale method may force the size to cover.
By the way, set a higher level would make it better, but also more complex.
Maybe the document should note the padding issue.

[2018-11-26 03:20] wolfiesonfire commented on #113
padding

[2018-11-29 06:59] wolfiesonfire commented on #62
Convert text first, solved my problem.
[code]

[2018-11-29 15:02] nayuki commented on #62
@wolfiesonfire Your code doesn't translate UTF-16 surrogate pairs into proper UTF-8 sequences. So any characters above U+FFFF will be broken. Also, your code needlessly escapes U+0000, resulting in illegal over-long UTF-8.

[2018-12-02 02:15] wolfiesonfire commented on #62
@nayuki Thanks for explain, i see the problem now.

[2018-12-21 03:31] rpavlovs commented on #110
Same issue with Jest

[2019-01-17 16:39] joshtune commented on #105
![image](https://user-images.githubusercontent.com/19998537/51333773-b09d4400-1a3b-11e9-89f0-c63fa8e7b84d.png)

I tried both initialize and set img size via attr and it does not work :(

![image](https://user-images.githubusercontent.com/19998537/51333693-88ade080-1a3b-11e9-8e5b-2707a6f0821e.png)

![image](https://user-images.githubusercontent.com/19998537/51333731-9e230a80-1a3b-11e9-9e3f-42d0eee2

[2019-03-01 17:00] dsumac commented on #110
Sorry, actually my example was with jest

[2019-04-08 07:44] Lemonxu opened #117 "二维码能展示，但是用微信等扫描图片就扫描不出来"

[2019-05-09 18:55] bhaprayan commented on #106
That or compiling from source works too: http://www.ijg.org/files/
Make sure to use jpegsrc.v8.tar.gz if you're on a Unix like system though (jpegsr8.zip appears to be the MS version, throws all standard formatting errors while building :/ )

[2019-08-20 06:06] fssgh commented on #100
[code]

[2019-08-25 10:41] cnlinjie commented on #117
你这样用中文，不太好吧？也没人给你答复的。起码像我这样，用谷歌翻译翻译一下吧。
关掉这个Issue 用谷歌翻译一下，再发吧。如果你想获得答案的话。

---

You use Chinese in this way, not very good? No one gave you a reply. At least like me, use Google Translate to translate it.
Turn off this Issue and use Google Translate to send it again. If you want to get an answer.

[2019-08-25 10:43] cnlinjie commented on #113
你这样用中文，不太好吧？也没人给你答复的。起码像我这样，用谷歌翻译翻译一下吧。
关掉这个Issue 用谷歌翻译一下，再发吧。如果你想获得答案的话。

---

You use Chinese in this way, not very good? No one gave you a reply. At least like me, use Google Translate to translate it.
Turn off this Issue and use Google Translate to send it again. If you want to get an answer.

[2019-09-02 13:33] JounQin commented on #104
@neocotic Is this library still under maintenance? It has been two years since last release.

[2019-09-05 10:49] flashercs commented on #116
https://github.com/flashercs/qrcodejs
this lib supports Unicode chars

[2019-10-13 15:37] feddighani opened #118 "Custom pattern QR Generator scanner and reader like facebook messenger?"

[2019-10-16 08:45] Josema commented on #54
Same problem. Why this library needs `document` or the browser/environment in order to work?

[2019-10-26 16:33] blizzardengle commented on #111
This is actually implemented already but is blocked from ever running. Take a look at the `getOffset()` function starting at line 330. If you provide a padding value that value is what is returned here, if you fail to provide a padding value 0 is returned anyways so this centering math is never run. Change the padding `if()` check to this code and it works properly:

[code]

With this change you l

[2019-12-11 17:16] evilaliv3 opened #120 "Qrious do not work when canvas read is disabled for privacy reasons"
On many browsers, reading canvas is blocked or requires asking users permissions.

Currently it seems the qrious library while writing a canvas performs as well a read and this results in a usability issue for all the users of Firefox [1] and of the Tor browser [2].

I'm analyzing this problem in relation to the [GlobaLeaks](https://github.com/globaleaks/GlobaLeaks) project that uses Qrious in its

[2019-12-11 17:18] evilaliv3 commented on #120
@neocotic: Do you have by any chance any clue why you used some read capability in place of a simple write? This way i can try to fix and with your availability try to get a update working package,

[2019-12-11 18:33] evilaliv3 commented on #120
@neocotic: Actually for necessities of security i evaluated to switch to angular-qrcode.

Probably the library used by it coul be taken as reference for fixing this inconvenience with your.

[2020-01-10 07:49] yehtut-indexzero commented on #111
I am having this issue. how to resolve. please help. Thank you

[2020-01-10 07:51] yehtut-indexzero commented on #105
I am having this issue. how to resolve. please help. Thank you

[2020-02-25 00:32] theomessin opened #121 "Is this project dead?"
Is this project dead? I hate asking this question but there's been no code activity in 3 years...

[2020-03-09 11:12] theomessin commented on #121
I'll take this as a yes.

[2020-03-09 11:12] #121 closed, assigned to nobody

[2020-08-06 12:33] kgrigorian commented on #105
issue is still there

[2020-11-09 06:13] Koddi-Evangelista opened #122 "password protected qr code"
Are you looking forward on making a password protected qr code?

[2020-12-07 15:42] milabi opened #123 "padding not null toDataUrl Picture not centered"
![下载 (2)](https://user-images.githubusercontent.com/15384445/101374309-f6da4580-38e8-11eb-9deb-d6fd39f92f67.png)

qr.background = '#cfcfcf';
qr.backgroundAlpha = 1.0;
qr.foregroundAlpha = 1.0;
qr.foreground = '#000000';
qr.level = 'L';
qr.padding = 10;
qr.size = 220;
qr.value = 'https://github.com/neocotic/qrious/issues/123';

[2020-12-10 18:01] rafalsk opened #124 "Get access to underlying modules?"
Kindly thank you for this library 👍
Is there an easy way to access the underlying QR 'modules'? i.e. to get access to the two-dimensional bits array comprising the QR code for further processing if one was only after the encoding and would like to omit the particular image rendering phase?

[2021-02-25 19:43] cibersheep commented on #123
I had this on the old code.
Try removing Math.floor here: https://github.com/neocotic/qrious/blob/master/dist/qrious.js#L312

[2021-03-03 22:38] jaikme commented on #105
https://github.com/davidshimjs/qrcodejs

[2021-03-03 23:32] ROBERT-MCDOWELL commented on #105
exemple
var qrcode = new QRious({element:divImg,value:url});
qrcode.level = 'L'; // or else
qrcode.size = 440;  // 440px

[2021-03-04 13:20] jaikme commented on #105
Guys, the last commit was 2017(I'm not complaining, it's just a fact, probably the author / maintainers are busy). Like other libs, I don't believe they will commit any updates anymore.
The best thing you can do, is fork and change yourself, or choose another lib.

[2021-03-04 13:24] ROBERT-MCDOWELL commented on #105
@jaikme
time has no limit on internet, especially in dev, as long as it helps today or later.

[2021-03-04 13:34] jaikme commented on #105
@ROBERT-MCDOWELL Totally agree. I am in favor of continuing to suggest, improve, and open up issues. For the future and community. Just giving a touch if it is something of urgency as I myself had.

[2021-03-05 20:24] DavidLJz opened #125 "How can I append QR code to already existing canvas element?"
[code]
I want to render the QRious object on already existing canvas with specific dimensions. How to do that?

Edit: Sorry, I figured it out
[code]

[2021-03-05 20:36] #125 closed, assigned to nobody

[2021-03-08 03:06] ROBERT-MCDOWELL commented on #116
you can just encode it with encodeURIComponent()

[2021-03-08 03:08] ROBERT-MCDOWELL commented on #124
just explore the source code, fork it, and modify what you need.

[2021-03-08 03:09] ROBERT-MCDOWELL commented on #122
what do you mean by password protected qrcode?

[2021-03-09 08:19] Koddi-Evangelista commented on #122
You can restrict the data in your QR Code to allow only authorized personnel to access it by adding a password to it. read this: https://scanova.io/blog/blog/2015/07/14/password-protected-qr-codes/

[2021-03-09 20:21] rafalsk commented on #124
We're looking for fulltime devs.

pon., 8 mar 2021, 04:09 użytkownik ROBERT MCDOWELL <notifications@github.com>
napisał:

[2021-03-25 17:23] inglesuniversal opened #126 "Question about the LEVEL value"
Could you kindly explain how the LEVEL value affects or improves the resulting QR Code generated by your awesome script?

What is the suggested or recommended value to be used or does it depend on the character length of the URL to be converted into a QR code?

Thanks

#StaySafe

[2021-03-25 21:11] ROBERT-MCDOWELL commented on #126
it seems that more the level is High, more you can add characters. and less the pixels are big.

[2021-06-27 14:07] clawfire opened #128 "TypeError: Cannot set property 'QRious' of undefined"
Line 22 `(global.QRious = factory());` got me the error `TypeError: Cannot set property 'QRious' of undefined`

My code was a simple
[code]

[2021-06-27 15:44] ROBERT-MCDOWELL commented on #128
is you canvas variable exist?

[2021-07-14 19:40] clawfire commented on #128
yep

[2021-07-14 21:01] ROBERT-MCDOWELL commented on #128
did you import Qrious class after the html element?
replace also canvas by img element

[2021-08-11 02:11] jadsongmatos opened #129 "QR Code Structure"
I wanted to have the option to change the color just where the data is.
it would be gray in this image below.
![image](https://user-images.githubusercontent.com/50336793/128958786-5129e6da-4cf1-42bc-b37f-bd09c36b825c.png)

[2021-08-11 03:20] ROBERT-MCDOWELL commented on #129
good luck with cheap camera to scan...

[2021-08-21 01:24] Luigius opened #130 "QRious not found since upgrade Chrome to latest version"
Hi,
My code was working fine until I updated chrome, since then this code returns:
        new QRious
        ({
	          element: document.getElementById("qrcodecanvas"),
	          level: 'H',
	          padding: 0,
	          size: 250,
	          value: dataqr
	});
Uncaught ReferenceError: QRious is not defined

the element is defined before the script code like this
<div id="qrcode-containe

[2021-08-21 01:33] ROBERT-MCDOWELL commented on #130
did you try to create the object on window.onload ?

[2021-08-21 01:45] ROBERT-MCDOWELL commented on #130
window.addEventListener("load",function(){
		const head = document.getElementsByTagName('head')[0];
		const qriousScript = document.createElement('script');
		if(typeof(qriousScript.onreadystatechange) != "undefined"){
			qriousScript.onreadystatechange = function(){
				if(this.readyState == 'complete'){
					build_something();
				}
			}
		}else{
			qriousScript.onload = build_something();
		}

[2021-08-21 06:55] Luigius commented on #130
Hi,
I solved the problem redownloading the qrious.js from github (link from the doc page https://cdnjs.cloudflare.com/ajax/libs/qrious/4.0.2/qrious.js).

Now without changing a line works, but until the chrome update was working fine. Not sure what was the problem
Thanks
Luigi

[2021-08-21 10:56] ROBERT-MCDOWELL commented on #130
better you use the code above, it's not good to create an aboject before the page is loaded anyhow.
chrome often changes preloading instructiona that can do things faster or in different order. your issue obviuosly comes from the fact that the object is created before the element is created, even if it's loaded after.
loading the js script file once loaded (for this case) is 100% sure that it will

[2021-09-30 05:38] JurgenG commented on #122
You do realize that Scanova doesn't over password protected QR codes, but it uses tracking links instead. So if you create a so called "dynamic link" to a site, you'll get another URL, that will redirect to your URL. This allows for this company to inject tracking stuff in there, and also a login screen.

If you want to password protect a link, you should put a password protection on the website.

[2021-09-30 11:33] ROBERT-MCDOWELL commented on #122
or the qr code data can be encrypted with strong algo like SHA512 or else.

[2022-02-08 03:06] vhscom commented on #126
It depends. This table may help: https://kazuhikoarase.github.io/qrcode-generator/js/demo/

[2022-04-28 13:23] Jexmslng opened #132 "The QR Generation is not working I dont know why. Heres the error Uncaught (in promise) TypeError: Cannot read properties of undefined (reading 'returnValues') at addproduct.php:152:124 at async addproduct.php:150:25"
<?php
session_start();
$color="navbar-light orange darken-4";
?>
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="SHORTCUT ICON" href="images/fibble.png" type="image/x-icon" />
    <link rel="ICON" href="images/fibble.png" type="image

[2022-09-02 11:40] SlideMovies commented on #100
Still no update after 5 years?

[2022-09-02 12:46] yanickrochon commented on #100
Since the project hasn't been updated in 5 years, it seems like maybe @neocotic abandoned it?

[2022-09-02 17:27] ROBERT-MCDOWELL commented on #100
the guys must create a PR to be validated.

[2022-10-04 11:43] faju-frq opened #134 "compatibility with C sharp in VB 6"
I want to link qrious with my vb6 c sharp code to generate a qr code but a warning with error in script keeps popping up!

[2022-10-05 21:07] se-ti commented on #62
correct code, that supports cyrillic & emojy would look like this:

[code]
P.S. issue with IE fixed